<!doctype html>
<html>
    <head>
        <title>{% block title %}{% endblock %}</title>
        <link rel = "stylesheet" href = "static/style/bootstrap.css">
        <link rel = "stylesheet" href = "static/style/reset.css">
        <link rel = "stylesheet" href = "static/style/taf-seafarer-m.css">
        <link rel = "stylesheet" href = "static/style/default.css">
    </head>
    <body>
        <div class = "container">
            {% block content %}{% endblock %}
        </div>
    </body>
</html>
