{% extends "base.html" %}
{% block title %}{{ blog_name }}{% endblock %}
{% block content %}
    <h1>{{ blog_title }}</h1>
    <!-- Comment out the following lines if you want insta-search disabled -->
    <div class = "insta-search row">
        <input placeholder = "Search blog posts" id = "query" type = "text" class = "span12">
    </div>
    {% for p in posts %}
    <div class = "post">
        <a href = "{{ p.filename }}"><h2>{{ p.title }}</h2></a>
        <!-- If you are having slow page loads, it could help to comment out this line -->
        <p>{{ p.content[p.content.find("<p>"):p.content.find("</p>")] }}</p>
        <span style = "font-weight: bold">{{ p.date }}</span>
    </div>
    {% endfor %}
    <!-- Also comment out these lines to disable insta-search --> 
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
     <script src = "static/js/insta-search.js"></script>
{% endblock %}
