{% extends "base.html" %}
{% block title %}{{ post.title }}{% endblock %}
{% block content %}
<div class = "row">
    <div class = "span12">
        <h1>{{blog_title}}<br/>{{ post.title }}</h1>
        {{ post.content }}<br />
        <a href = "index.html">Back to main page</a>
        <div class = "footnote">
            Posted on {{ post.date }}
        </div>
    </div>
</div>
{% endblock %}
